<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="SabanaKuliner" />
  <meta name="theme-color" content="#C36A2D"/>

  <title>SabanaKuliner</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link rel="manifest" href="app-webmanifest.json">
  <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />


</head>
<body>
    <a href="#content" class="skip-link">Menuju Konten</a>
    <header>
      <app-bar></app-bar>
      <app-hero></app-hero>
    </header>
    <main>
      <div id="content" tabindex="0">
          <section class="explore">
              <h2><span class="title-content">Explore Restaurantss</span></h2>
          </section>
      </div>
  </main>
  <footer>
    <p>&copy; Copyright 2023 &dash; <a href="/">Sabana Kuliner</p>
  </footer>
</body>
</html>
